<footer class="footer" style="background-color: #67aaf7;">
	<ul class="footer-links">
		<!-- <li><a href="http://github.com/alainpham"> <i
				class="fa fa-inverse fa-github fa-3x"></i></a></li>
		<li><a href="http://www.linkedin.com/in/alainpham"> <i
				class="fa fa-inverse fa-linkedin-square fa-3x"></i></a></li>
		<li><a href="https://twitter.com/koint"> <i
				class="fa fa-inverse fa-twitter fa-3x"></i></a></li> -->
		<li><a href="https://www.facebook.com/QuyModuledk" target="_blank"> <i
				class="fa fa-inverse fa-facebook fa-3x"></i></a></li>
	</ul>
</footer>